<p id="notice"><%= notice %></p>

<p>
  <strong>Correct:</strong>
  <%= @score.correct %>
</p>

<p>
  <strong>Wrong:</strong>
  <%= @score.wrong %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
