<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<div class="row">
<div class="col s12 m6 l6">
  <h3>Register here</h3>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit 'Register' %>
  </div>
<br>
  <fb:login-button scope="public_profile,email,user_friends"
    onlogin="checkLoginState();">
  </fb:login-button>
  <!-- <div class="fb-login-button" data-width="30" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
  <% link_to 'Token Transfer', facebook_path,
    id: 'token-transfer-link' %><br>
  <% link_to 'Real Login', facebook_path,
    id: 'login-link' %>
    <br>

    <%= link_to "Sign up with Google", "/auth/google_oauth2", id: "sign_in" %>
    <br>
    <br>
  <%= link_to 'Back', root_path %>

</div>
</div>
</div>

<% end %>
