<nav>
  <div class="nav-wrapper white">
    <div class="row">
    <div class="col s2 left">
    <a href="#!" class="brand-logo left black-text">
      <%= image_tag "logo4.png" %>
    </div>
    <div class="col s2 right">
    <a href="#" data-activates="mobile-demo" class="right button-collapse black"><i class="material-icons black">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="black-text large">Login</a></li>
      <li><a href="#" class="black-text">Signup</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Read more</a></li>
      <li><a href="#">Demo</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  </div>
  </div>
</nav>

<div class="slider">
  <ul class="slides">
    <li><%= image_tag "background-dark.jpg" %>
      <div class="caption center-align">
        <h3>DISCOVER</h3>
        <h5 class="light">a simple way to learn a new language</h5>
        <br>
        <a class="waves-effect waves-light btn yellow lighten-1 black-text">Sign up</a>
      </div>
    </li>
    <li><%= image_tag "background2-dark.jpg"  %>
      <div class="caption left-align">
        <h3>IMPROVE AND UPDATE</h3>
        <h5 class="light">your language skills</h5>
        <br>
        <a class="waves-effect waves-light btn yellow lighten-1 black-text">Sign up</a>
      </div>
    </li>
    <li><%= image_tag "background3-dark.jpg" %>
      <div class="caption right-align">
        <h3>TRAVEL</h3>
        <h5 class="light">and be better prepared</h5>
        <br>
          <a class="waves-effect waves-light btn yellow lighten-1 black-text">Sign up</a>

      </div>
    </li>
  </ul>
</div>
<br>
<br>

<div class="row">
  <div class="col s4 center">
    <div class="card-panel opacity">
    <i class="large material-icons center-align">check_circle</i><h3>Read more</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

  <div class="col s4 center">
    <div class="card-panel">
    <i class="large material-icons">video_library</i><h3>Demo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
  <div class="col s4 center">
    <div class="card-panel">
      <i class="large material-icons">person</i><h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
</div>
<br>
<br>

<footer class="page-footer grey">
    <div class="row">
       <div id="footer-left" class="col s2 left">
         <%= image_tag "logo2.png" %>
        </div>
        <div id="footer-center" class="col s8 center">
        </div>
        <div id="footer-right" class="col s2 right">
          <h5 class="white-text">Follow Us</h5>
          <img src="http://www.freeiconspng.com/uploads/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png" alt="" height="60" width="60">
          <img src="http://www.thelayerfund.com/wp-content/uploads/2017/10/instagram-logo-for-business-card-business-cards-copy-printing-and-screen-printing-in-winston-ideas.png" alt="" height="58" width="58">
       </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Memori
      <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
      </div>
  </footer>
