
<%= render 'layouts/imageheader' %>

<br>
<div class="container">
  <div class="row">

    <div class="col s12 m3 l3">
      <div class="card-panel black-text center">
        <i class="large material-icons">person</i>
        <p>
          Name: <%= @user.name %>
        </p>
        <p>
          Email: <%= @user.email %>
        </p>
        <br>
        <br>
        <%= link_to( ("<i class='material-icons'>edit</i>").html_safe, edit_user_path(current_user.id), { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
      </div>
    </div>

      <div class="col s12 m9 l9">
        <div class="card-panel black-text">
          <h3>My scores</h3>
        </div>
      </div>
      <div class="col s12 m12 l12">
        <div class="card-panel black-text">
                  <h3><%= link_to 'My studydecks', user_decks_path(current_user.id) %></h3>
                </div>
      </div>
    </div>


    </div>
