
<%= render 'layouts/imageheader' %>

<br>
<div class="container">
  <div class="row">

    <div class="col s12 m3 l3">
      <div class="card-panel black-text center">
        <i class="large material-icons">person</i>
        <p>
          <p style="font-weight:bold;">Name:</p> <%= @user.name %>
        </p>
        <p>
          <p style="font-weight:bold;">Email:</p> <%= @user.email %>
        </p>
        <br>
        <%= link_to( ("<i class='material-icons'>edit</i>").html_safe, edit_user_path(current_user.id), { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
        <br>
        <br>
        <div class="divider">

        </div>
        <br>
          <p style="font-weight:bold;"><%= link_to 'Study Deck List', user_decks_path(current_user.id) %></p>
        <br>
      </div>
    </div>

      <div class="col s12 m9 l9">
        <div class="card-panel black-text">
          <h3>Study Info & Stats</h3>
        </div>
      </div>
    </div>


    </div>
