<%= form_with(model: [@deck, @card], remote: true) do |form| %>
<% if card.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

  <ul>
    <% card.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="panel-card new">
      <div class="col">

        <h1>Add Vocabulary Word</h1>

        <div class="field">
          <%= form.label :original %>
          <%= form.text_field :original, id: :card_original %>
        </div>

        <!-- <div class="field">
        <%= form.label :target %>
        <% @halp = @deck %>
        <%= form.text_field ":target", id: :card_target, :value => @translation %>
      </div> -->

      <div class="field">
        <!-- <%= form.label :language_id %> -->
        <%= form.hidden_field :language_id, id: :card_language_id, :value => @deck.language_id %>
        <%= form.hidden_field :level, id: :card_level, :value => 0 %>
        <%= form.hidden_field :correct, id: :card_correct, :value => 0 %>
        <%= form.hidden_field :wrong, id: :card_wrong, :value => 0 %>
        <%= form.hidden_field :review, id: :card_review, :value => 0 %>
      </div>

      <div class="actions modal-action modal-close">
      <%= form.submit  class: 'waves-effect waves-light btn yellow accent-2 black-text' %>
      </div>
      <%= link_to 'Back', deck_cards_path %>

    </div>
  </div>
</div>
</div>
<% end %>
