<%= form_for([deck, card]) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="panel-card">
      <div class="col s12 m6 l6">

        <h1>New Card</h1>

      <div class="field">
        <%= form.label :original %>
        <%= form.text_field :original, id: :card_original %>
      </div>

      <div class="field">
        <%= form.label :target %>
        <%= form.text_field :target, id: :card_target %>
      </div>

      <div class="field">
        <%= form.label :language %>
        <%= form.text_field :language, id: :card_language %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
