<div class="imageresp">
  <%= image_tag "header1.jpg", :class => "image1" %>
  <%= image_tag "LogoM.png", :class => "image2" %>
</div>

<h1>Editing Card</h1>

<%= render 'form', card: @card, deck: @deck %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
