<%= form_with(model: deck, remote: true) do |form| %>
<% if deck.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

  <ul>
    <% deck.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="panel-card">
      <div class="col s12">
        <h3>Create</h3>
        <br>
        <div class="field">
          <!-- <%= form.label :language_id %> -->
          <%= form.hidden_field :language_id, id: :deck_language_id, :value => 1  %>
        </div>

        <div class="field">
          <%= form.label :title %>
          <%= form.text_field :title, id: :deck_title %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_field :description, id: :deck_description %>
        </div>

        <div class="input_field">
          <%= form.label :category_id %>

          <%= form.collection_select :category_id, Category.order(:label),:id,:label, :include_blank => true %>
        </div>

        <div class="actions modal-action modal-close mb-40">
          <%= form.submit  class: 'waves-effect waves-light btn yellow accent-2 black-text' %>
        </div>

        <% end %>
        <%= link_to 'Return to Dashboard', users_path %>



      </div>
    </div>
  </div>
</div>
