<%= render 'layouts/imageheader' %>


  </div>
  <div class="container">

    <p style="font-weight:bold;"><%= link_to 'Back', users_path %> |
    <%= link_to 'New Deck', new_user_deck_path(current_user.id), remote: true %></p>
    <br>

    <div class="center">
      <p style="font-weight:bold;">Search for title or description  <i class="material-icons">search</i></p>
    </div>

    <div class="searchdiv center">
    <%= form_tag(user_decks_path, method: :get) do %>
      <%= search_field_tag :term %>
    </div>

    <br>
    <div class="center">
      <%= submit_tag 'Search', {class: "waves-effect waves-light yellow black-text btn", style: "width:120px;"} %>
      <%= link_to 'Clear ', user_decks_path, {class: "waves-effect waves-light yellow btn clear", style: "width:120px;;"} %>
    </div>
    <% end %>
    <br>

    <% if @results.nil? # no search %>

    <% elsif @results.empty? # no results %>
      No matching results.

    <% else %>
    <div class="col s12">
      <div class="card-panel-1">
        <div class="row">
          <h5 style="text-align:center; font-weight:bold;">SEARCH RESULTS</h4>
          <div class="divider">
          </div>
          <br>
          <br>
          <% @results.each do |deck| %>
          <div class="col s12 m6 l6 center">
            <div class="card-panel">
              <table>
                <tbody>
                  <tr>
                    <h3><%= link_to deck.title, deck %></h3>
                    <p><%= deck.description %></p>
                    <p><%= deck.language.lingua %> | <%= deck.category.label %></p>
                    <p><%= link_to 'Card List', deck_cards_path(deck) %> |
                      <%= link_to 'Destroy', [@user, deck], method: :delete, data: { confirm: 'Are you sure?' } %> |
                      <%= link_to 'Edit', edit_deck_path(deck), remote: true %> </p>
                      <!-- Modal Structure -->
                      <!-- <div id="modal1" class="modal">
                        <div class="modal-content">
                          <h4>Modal Header</h4>
                          <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                      </div> -->

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <% end %>

        </div>
        </div>
      </div>
    <% end %>
  </div>


    <!-- Desktop view -->
<div class="container">
    <div class="col s12 hide-on-small-only">
    <div class="card-panel-1">
      <div class="row">
        <h5 style="text-align:center; font-weight:bold;">Study Decks</h4>
        <div class="divider">
        </div>
        <br>
        <br>
        <% @mydecks.each do |deck| %>
        <div class="col s12 m6 l6 center">
          <div class="card-panel">
            <table>
              <tbody>
                <tr>
                  <h3><%= link_to deck.title, deck_study_path(deck) %></h3>
                  <p><%= deck.description %></p>
                  <p><%= deck.language.lingua %> | <%= deck.category.label %></p>
                  <p><%= link_to 'Card List', deck_cards_path(deck) %> |
                    <%= link_to 'Destroy', [@user, deck], method: :delete, data: { confirm: 'Are you sure?' } %> |
                    <%= link_to 'Edit', edit_deck_path(deck), remote: true %> </p>
                    <!-- Modal Structure -->
                    <!-- <div id="modal1" class="modal">
                      <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>

                      </div>
                    </div> -->

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>

      </div>
      </div>
    </div>
  </div>

<!-- Mobile view -->
<div class="container">
    <div class="col s12 hide-on-med-and-up">
      <div class="card-panel-1">
        <div class="row">
          <h5 style="text-align:center; font-weight:bold;">Study Decks</h5>
          <div class="divider"></div>
          <br>
          <br>
          <% @mydecks.each do |deck| %>
          <div class="col s12 m6 l6 center">
            <div class="card-panel">
              <table>
                <tbody>
                  <tr>
                    <h5><%= link_to deck.title, deck_study_path(deck), class: 'deck-title'%></h5>
                    <p><%= deck.description %></p>
                    <p><%= deck.language.lingua %> | <%= deck.category.label %></p>
                    <p><%= link_to 'Card List', deck_cards_path(deck) %> |
                      <%= link_to 'Destroy', [@user, deck], method: :delete, data: { confirm: 'Are you sure?' } %> |
                      <%= link_to 'Edit', edit_deck_path(deck), remote: true %> </p>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <% end %>

        </div>
        </div>
      </div>
</div> <!-- end of container -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <!-- <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a> -->
  </div>
</div>
