  <div class="imageresp">
    <%= image_tag "header_studydecks.png" %>
    </div>
  </div>
  <br>
  <br>
  <div class="container">

    <p id="notice"><%= notice %></p>


  <nav class=>
    <div class="nav-wrapper white black-text">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
          <i class="material-icons black-text">close</i>
        </div>
      </form>
    </div>
  </nav>
  <br>

  <div class="row">
    <div class="col s6 center">
      <a class="waves-effect waves-light btn yellow lighten-2 black-text"><i class="material-icons left black-text">search</i>Language</a>
    </div>
    <div class="col s6 center">
      <a class="waves-effect waves-light btn yellow lighten-2 black-text"><i class="material-icons left black-text">search</i>Category</a>
    </div>
  </div>

  <p><%= link_to 'New Deck', new_user_deck_path(current_user.id) %></p>


  <div class="row">

    <% @decks.each do |deck| %>
    <div class="col s12 m6 l6 center">
      <div class="card-panel">
        <table>
          <tbody>
            <tr>
              <h3><%= link_to deck.title, deck %></h3>
              <p><%= deck.description %></p>
              <p><%= deck.language %> | <%= deck.category.label %></p>
              <p><%= link_to 'Edit', edit_deck_path(deck) %> | <%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>

  </div> <!-- end of row -->
</div> <!-- end of container -->
