<div class="imageresp">
  <%= image_tag "header1.jpg", :class => "image1" %>
  <%= image_tag "LogoM.png", :class => "image2" %>
</div>

  </div>
  <br>
  <br>
  <div class="container">

    <p id="notice"><%= notice %></p>
    <%= link_to 'Back', users_path %> |
    <%= link_to 'New Deck', new_user_deck_path(current_user.id) %>

    <br>
    <br>


  <div class="col s12">
    <div class="card-panel yellow lighten-3">
      <div class="row">
        <h3>My studydecks</h3>

        <% @mydecks.each do |deck| %>
        <div class="col s12 m6 l6 center">
          <div class="card-panel">
            <table>
              <tbody>
                <tr>
                  <h3><%= link_to deck.title, deck %></h3>
                  <p><%= deck.description %></p>
                  <p><%= deck.language.lingua %> | <%= deck.category.label %></p>
                  <p><%= link_to 'Card List', deck_cards_path(deck) %> |
                    <%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %> |
                    <%= link_to 'Edit', edit_deck_path(deck), remote: true %> </p>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                      <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                      </div>
                    </div>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>

      </div>
      </div>
    </div>
</div> <!-- end of container -->
