<%= render 'layouts/imageheader' %>

<div class="container center">
  <div class="row">
    <div class="card-panel">

  <!-- Correct  -->
  <% if @correct_answer == @user_answer %>

      <i class="material-icons green-text large">check</i>
      <!-- <br>
      <h5 style="font-weight:bold;">CORRECT</h5>
      <br> -->
      <br>
      <p style="font-size:25px;">The right answer:</p><p style="font-size:35px; font-weight:bold;"> <%= @correct_answer %></p>
      <p style="font-size:25px;">Your answer:</p><p style="font-size:35px; font-weight:bold;"> <%= @user_answer %></p>
      <br>
      <%= link_to( ("<i class='material-icons'>chevron_right</i>").html_safe, deck_study_url, { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
      <p>Next Word</p>
      <br>


<!-- Incorrect  -->

<% else %>

          <i class="material-icons red-text large">clear</i>
          <!-- <br>
           <h5 style="font-weight:bold;">INCORRECT</h5>
           <br> -->
           <div class="row">

             <!-- <div class="col s4 m4 l4">
                 <%= link_to( ("<i class='material-icons'>edit</i>").html_safe, deck_review_url, { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
                 <h4>Try again</h4>
             </div>

             <div class="col s4 m4 l4">
                 <%= link_to( ("<i class='material-icons'>remove_red_eye</i>").html_safe, deck_review_url, { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
                 <h4>Review answer</h4>
             </div> -->

             <!-- <div class="col">
                 <%= link_to( ("<i class='material-icons'>edit</i>").html_safe, deck_review_url, { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
                 <h4>Next word</h4>
             </div> -->

             <p style="font-size:25px;">The right answer:</p><p style="font-size:35px; font-weight:bold;"> <%= @correct_answer %></p>
             <p style="font-size:25px;">Your answer:</p><p style="font-size:35px; font-weight:bold;"> <%= @user_answer %></p>
             <br>
             <%= link_to( ("<i class='material-icons'>chevron_right</i>").html_safe, deck_study_url, { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
             <p>Next Word</p>
           </div>

           <!-- end incorrect  -->
           <% end %>

    </div>
  </div>
</div>
