<div class="imageresp">
  <%= image_tag "header1.jpg", :class => "image1" %>
  <%= image_tag "LogoM.png", :class => "image2" %>
</div>
<p id="notice"><%= notice %></p>

<div class="container">
<div class="card-panel yellow lighten-2">

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			Front
		</div>
		<div class="back">
      Back
		</div>
	</div>
</div>

</div>

</div>




<!-- show the info of the deck -->

<!-- <div class="row">
  <div class="col s12 m4 l4">
    <div class="card-panel">
<h3>
<%= @deck.title %>
</h3>

<p>
<strong>Language:</strong>
<%= @deck.language %>
</p>

<p>
<strong>Description:</strong>
<%= @deck.description %>
</p>

<p>
<strong>Category:</strong>
<%= @deck.category %>
</p>

<%= link_to 'Add cards', new_deck_card_path(@deck) %> |
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', user_decks_path(@deck) %>

</div>
</div>
</div> -->
