<%= render 'layouts/imageheader' %>

<p id="notice"><%= notice %></p>
<div class="container">


<div class="row">
  <div class="col s12 m4 l4">
    <div class="card-panel">
<h3>
<%= @deck.title %>
</h3>

<p>
<strong>Language:</strong>
<%= @deck.language %>
</p>

<p>
<strong>Description:</strong>
<%= @deck.description %>
</p>

<p>
<strong>Category:</strong>
<%= @deck.category %>
</p>

<%= link_to 'Card list', deck_cards_path(@deck) %> |
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', user_decks_path(@deck) %>

</div>
</div>
</div>
<p><%= link_to 'Study Deck', deck_study_path(@deck), {class: "waves-effect waves-light yellow black-text btn"} %></p>

</div>
