<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @deck.original %>
</p>

<p>
  <strong>Target:</strong>
  <%= @deck.target %>
</p>

<p>
  <strong>Language:</strong>
  <%= @deck.language %>
</p>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
