<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @deck.language %>
</p>

<p>
  <strong>Title:</strong>
  <%= @deck.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deck.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @deck.category %>
</p>

<%= link_to 'Add cards', new_deck_card_path(@deck) %> |
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
