<%= render 'layouts/imageheader' %>

<p id="notice"><%= notice %></p>
<div class="container">
<%= render 'decks/studyDesktop' %>
<%= render 'decks/studyMobile' %>
<br>
<%= link_to 'Exit', user_decks_path(@user), { class: "waves-effect waves-light yellow btn"} %>
<br>
<br>
</div>
