<%= render 'layouts/imageheader' %>

<p id="notice"><%= notice %></p>
<div class="container">
  <!-- Desktop-view -->


    <div class="flip-container-1 yellow lighten-3 black-text hide-on-small-only">
      <div class="flipper">

        <div class="front1">
          <br>
          <i class="material-icons black-text large">edit</i>
          <br>
          <br>
          <h3 style="font-weight:bold;">Word to translate:</h3>
          <br>
          <h5>English World</h5>
          <h5>Your answer:</h5>
          <br>
          <br>
        </div>

        <div class="back1">
          <i class="material-icons green-text large">check</i>
          <br>
          <h3 style="font-weight:bold;">CORRECT</h3>
          <br>
          <br>
          <h5>English World</h5>
          <h5>Spanish Word</h5>
          <br>
          <br>

          <%= link_to( ("<i class='material-icons'>chevron_right</i>").html_safe, deck_study_url, { :class=>"btn-floating btn-large waves-effect waves-light black" }) %>
          <br>
        </div>
      </div>
    </div>

    <div class="flipButton1 action-button shadow animate green hide-on-small-only">Submit</div>

    <!-- Mobile-view -->


    <div class="flip-container-2 yellow lighten-3 black-text hide-on-med-and-up">
        <div class="flipper">

          <div class="front2">
            <br>
            <i class="material-icons black-text small">edit</i>
            <br>
            <br>
            <h5 style="font-weight:bold;">Word to translate:</h3>
            <br>
            <h5>English World</h5>
            <h5>Your answer:</h5>
            <br>
            <br>
          </div>

          <div class="back2">
            <br>
            <i class="material-icons green-text small">check</i>
            <br>
            <h5 style="font-weight:bold;">CORRECT</h5>
            <br>
            <h5>English World</h5>
            <h5>Spanish Word</h5>
            <br>
            <%= link_to( ("<i class='material-icons'>chevron_right</i>").html_safe, deck_study_url, { :class=>"btn-floating btn-small waves-effect waves-light black" }) %>
            <br>
          </div>
        </div>
      </div>

      <div class="flipButton2 action-button shadow animate yellow hide-on-med-and-up">Submit</div>




    <%= link_to 'Back', user_decks_path(@user) %>

</div>
