<%= render 'layouts/imageheader' %>

<p id="notice"><%= notice %></p>
<div class="container">
<%= render 'decks/studyDesktop' %>
<%= render 'decks/studyMobile' %>




    <%= link_to 'Back', user_decks_path(@user) %>

</div>
