<nav>
  <div class="nav-wrapper white">
    <a href="#!" class="brand-logo left black-text">
      <%= image_tag "logo4.png" %>
    <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons black-text">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li>Signed in as <%= current_user.name %> </li>
        <li><%= link_to "My profile" %></li>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Sign up', register_path %></li>
      <% end %>
    </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Read more</a></li>
        <li><a href="#">Demo</a></li>
        <li><a href="#">About</a></li>
      </ul>
  </div>
</nav>
