<nav>
  <div class="nav-wrapper white">

    <!-- <a href="#!" class="brand-logo left black-text"> -->
    <a href="/users" class="brand-logo left hide-on-small-only">
    <!-- <%= link_to( image_tag("logo4.png"), image_path( "logo4.png"), alt: 'Memori' ) %> -->
    <%= link_to root_path do %>
  <%= image_tag 'logo4.png', alt: 'Memori' %>
<% end %>
  </a>

    <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons black-text">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li class="sign-in-name">Hello <%= current_user.name %>!</li>
        <li><%= link_to "My profile", current_user %></li>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Login</a></li>

      <% end %>
    </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="imageresp">
            <%= image_tag "header1.jpg", :class => "image1" %>
            <%= image_tag "LogoM.png", :class => "image2" %>
          </div>
        </li>
        <% if current_user %>
          <li>Signed in as <%= current_user.name %> </li>
          <li><%= link_to "Startpage", users_path %></li>
          <li><%= link_to "My profile", current_user %></li>
          <li><%= link_to "Logout", logout_path %></li>
          <li><%= link_to "My decks", user_decks_path(current_user.id) %></li>

        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Read more'  %></li>
          <li><%= link_to 'About us' %></li>
        <% end %>
        <li>

        </li>
      </ul>
  </div>
</nav>
<!-- Dropdown Structure -->
<div id="dropdown1" class="dropdown-content" data-constrainwidth="false">
  <div class="container login-drop">
    <div class="row">
      <div class="col s12">
        <h5 style="color:black;">Login</h1>

        <p>To Demo Memori:<p>
        <p>Email: demo<br>
        Password: demo</p>

        <%= form_tag '/login' do %>

        <div class="field" style="color:black;">
          <%= label_tag :email %>
          <%= text_field_tag :email, "demo" %>
        </div>

        <div class="field" style="color:black;">
          <%= label_tag :password %>
          <%= password_field_tag :password, "demo" %>
        </div>

        <button class="btn waves-effect waves-light yellow black-text" type="submit" name="action">Login</button>
        <% end %>
        <br>
        <br>
        <div class="divider">
        </div>
      </div>
    </div>
  </div>
</div>
